# ðŸ¼ Pandas - Class 4: Data Selection & Filtering
Welcome to **Class 4** of our Pandas series. Today weâ€™ll explore techniques to select and filter data in a DataFrame.

## 1. Boolean Indexing & Conditional Selection
- Use comparison operators to build conditions (e.g., `df['col'] > 50`).
- Pass the condition inside `df[...]` to get matching rows.
- Combine multiple conditions with `&` (AND), `|` (OR), and `~` (NOT).
- Parentheses are required when combining conditions.

In [2]:
import pandas as pd
import numpy as np
# Same dataset
a = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Emma"],
    "Age": [25, 30, 35, 40, 22],
    "Score": [88, 92, 79, 85, 95]
}

b = pd.DataFrame(a)
print("Original DataFrame:")
print(b)

# 1. Single condition: rows where Age > 30
print("\nRows where Age > 30:")
print(b[b["Age"] > 30])

Original DataFrame:
      Name  Age  Score
0    Alice   25     88
1      Bob   30     92
2  Charlie   35     79
3    David   40     85
4     Emma   22     95

Rows where Age > 30:
      Name  Age  Score
2  Charlie   35     79
3    David   40     85

In [3]:
# 2. Single condition: rows where Score < 90
print("\nRows where Score < 90:")
print(b[b["Score"] < 90])

Rows where Score < 90:
      Name  Age  Score
0    Alice   25     88
2  Charlie   35     79
3    David   40     85

In [4]:
# 3. Multiple conditions (AND): Age > 25 AND Score > 85
print("\nRows where Age > 25 AND Score > 85:")
print(b[(b["Age"] > 25) & (b["Score"] > 85)])

Rows where Age > 25 AND Score > 85:
  Name  Age  Score
1  Bob   30     92

In [5]:
# 4. Multiple conditions (OR): Age < 25 OR Score > 90
print("\nRows where Age < 25 OR Score > 90:")
print(b[(b["Age"] < 25) | (b["Score"] > 90)])

Rows where Age < 25 OR Score > 90:
   Name  Age  Score
1   Bob   30     92
4  Emma   22     95

In [6]:
# 5. Using NOT (~): rows where Score is NOT greater than 85
print("\nRows where Score is NOT greater than 85:")
print(b[~(b["Score"] > 85)])

Rows where Score is NOT greater than 85:
      Name  Age  Score
2  Charlie   35     79
3    David   40     85

## 2. Filtering Rows with Multiple Conditions
- Combine two or more conditions to refine selection.
- Remember to enclose each condition in parentheses.

In [ ]:
# 1. Age > 25 AND Score > 85
print("\nRows where Age > 25 AND Score > 85:")
print(b[(b["Age"] > 25) & (b["Score"] > 85)])

In [ ]:
# 2. Age < 35 OR Score >= 90
print("\nRows where Age < 35 OR Score >= 90:")
print(b[(b["Age"] < 35) | (b["Score"] >= 90)])

In [ ]:
# 3. Age between 25 and 35 (inclusive)
print("\nRows where Age is between 25 and 35 (inclusive):")
print(b[(b["Age"] >= 25) & (b["Age"] <= 35)])

## 3. Using `query()` for Cleaner Filtering
- `query()` allows filtering rows with a string expression.
- It's concise and readable for complex conditions.
- Variables can be passed using the `@` symbol.

In [8]:
# 1. Simple query: Age > 25
print("\nRows where Age > 25:")
b.query("Age > 25")

Rows where Age > 25:

      Name  Age  Score
1      Bob   30     92
2  Charlie   35     79
3    David   40     85

In [9]:
# 2. Multiple conditions: Age < 35 and Score >= 85
print("\nRows where Age < 35 and Score >= 85:")
b.query("Age < 35 and Score >= 85")

Rows where Age < 35 and Score >= 85:

    Name  Age  Score
0  Alice   25     88
1    Bob   30     92
4   Emma   22     95

In [10]:
# 3. Using a Python variable inside query (with @)
threshold = 90
print(f"\nRows where Score > {threshold}:")
b.query("Score > @threshold")

Rows where Score > 90:

   Name  Age  Score
1   Bob   30     92
4  Emma   22     95

## 4. String Operations on Columns
- Use the `.str` accessor for vectorized string methods.
- Common methods: `contains`, `replace`, `startswith`, `endswith`, `lower`, `upper`.
- Useful for cleaning or filtering text data.

In [12]:
# 1. Convert names to lowercase
print("\nNames in lowercase:")
print(b["Name"].str.lower())

# 2. Convert names to uppercase
print("\nNames in uppercase:")
print(b["Name"].str.upper())

Names in lowercase:
0      alice
1        bob
2    charlie
3      david
4       emma
Name: Name, dtype: object

Names in uppercase:
0      ALICE
1        BOB
2    CHARLIE
3      DAVID
4       EMMA
Name: Name, dtype: object

In [15]:
# 3. Check if names contain the letter 'a' (case-insensitive)
print("\nRows where Name contains 'a':")
print(b[b["Name"].str.contains("a", case=False)])

# 4. Replace a substring (change 'Charlie' to 'Charles')
c = b.copy()
c["Name"] = c["Name"].str.replace("Charlie", "Charles", regex=False)
print("\nAfter replacing 'Charlie' with 'Charles':")
c

Rows where Name contains 'a':
      Name  Age  Score
0    Alice   25     88
2  Charlie   35     79
3    David   40     85
4     Emma   22     95

After replacing 'Charlie' with 'Charles':

      Name  Age  Score
0    Alice   25     88
1      Bob   30     92
2  Charles   35     79
3    David   40     85
4     Emma   22     95

In [14]:
# 5. Filter rows where Name starts with 'D'
print("\nRows where Name starts with 'D':")
print(b[b["Name"].str.startswith("D")])

# 6. Filter rows where Name ends with 'e'
print("\nRows where Name ends with 'e':")
print(b[b["Name"].str.endswith("e")])

Rows where Name starts with 'D':
    Name  Age  Score
3  David   40     85

Rows where Name ends with 'e':
      Name  Age  Score
0    Alice   25     88
2  Charlie   35     79

## Mini Practice
1. Build a DataFrame with columns such as Name, Age, City, Score.
2. Use boolean indexing to select rows where Age > 25.
3. Filter rows where City is either 'Delhi' or 'Mumbai'.
4. Use query() to find rows with Score >= 85 and Age < 35.
5. Clean a text column using str.replace or str.lower.

In [21]:
import pandas as pd

# 1. Build a DataFrame with columns: Name, Age, City, Score
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Emma", "Frank"],
    "Age": [24, 32, 28, 40, 22, 30],
    "City": ["Delhi", "Mumbai", "Pune", "Chennai", "Delhi", "Mumbai"],
    "Score": [90, 82, 88, 75, 95, 84]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# 2. Use boolean indexing to select rows where Age > 25
age_filter = df[df["Age"] > 25]
print("\nRows where Age > 25:")
print(age_filter)

Original DataFrame:
      Name  Age     City  Score
0    Alice   24    Delhi     90
1      Bob   32   Mumbai     82
2  Charlie   28     Pune     88
3    David   40  Chennai     75
4     Emma   22    Delhi     95
5    Frank   30   Mumbai     84

Rows where Age > 25:
      Name  Age     City  Score
1      Bob   32   Mumbai     82
2  Charlie   28     Pune     88
3    David   40  Chennai     75
5    Frank   30   Mumbai     84

In [17]:
# 3. Filter rows where City is either 'Delhi' or 'Mumbai'
city_filter = df[df["City"].isin(["Delhi", "Mumbai"])]
print("\nRows where City is Delhi or Mumbai:")
print(city_filter)

Rows where City is Delhi or Mumbai:
    Name  Age    City  Score
0  Alice   24   Delhi     90
1    Bob   32  Mumbai     82
4   Emma   22   Delhi     95
5  Frank   30  Mumbai     84

In [18]:
# 4. Use query() to find rows with Score >= 85 and Age < 35
query_filter = df.query("Score >= 85 and Age < 35")
print("\nRows with Score >= 85 and Age < 35:")
print(query_filter)

Rows with Score >= 85 and Age < 35:
      Name  Age   City  Score
0    Alice   24  Delhi     90
2  Charlie   28   Pune     88
4     Emma   22  Delhi     95

In [19]:
# 5. Clean a text column using str.replace or str.lower
# Example: convert City to lowercase and replace 'delhi' with 'New Delhi'
cleaned = df.copy()
cleaned["City"] = cleaned["City"].str.lower()           # to lowercase
cleaned["City"] = cleaned["City"].str.replace("delhi", "New Delhi", regex=False)
print("\nAfter cleaning City column:")
print(cleaned)

After cleaning City column:
      Name  Age       City  Score
0    Alice   24  New Delhi     90
1      Bob   32     mumbai     82
2  Charlie   28       pune     88
3    David   40    chennai     75
4     Emma   22  New Delhi     95
5    Frank   30     mumbai     84

---
## Summary
- Learned to use boolean indexing and conditional selection.
- Filtered rows with multiple conditions.
- Used `query()` for clean filtering.
- Applied string operations with the `.str` accessor.