# ðŸ¼ Pandas - Class 3: Data Cleaning Essentials
Welcome to **Class 3** of our Pandas series. Today weâ€™ll learn how to clean and prepare data for analysis.

## Handling Missing Values
Real-world datasets often have missing data. Pandas offers:
- `isna()` / `isnull()` â†’ detect missing values (returns True/False)
- `dropna()` â†’ remove missing values (rows/columns)
- `fillna()` â†’ replace missing values with a given value or method (e.g., forward fill)

Always inspect how much data is missing before deciding to drop or fill.

In [65]:
import pandas as pd
import numpy as np

# Create a sample DataFrame with some missing values
a = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Emma"],
    "Age": [25, None, 35, 40, None],
    "City": ["Delhi", "Mumbai", None, "Bangalore", "Chennai"],
    "Score": [85, 91, np.nan, 88, 95]
}

b = pd.DataFrame(a)
print("Original DataFrame:")
print(b)

# 1. Detect missing values
print("\nCheck where data is missing:")
print(b.isna())

print("\nCount of missing values in each column:")
print(b.isna().sum())

Original DataFrame:
      Name   Age       City  Score
0    Alice  25.0      Delhi   85.0
1      Bob   NaN     Mumbai   91.0
2  Charlie  35.0       None    NaN
3    David  40.0  Bangalore   88.0
4     Emma   NaN    Chennai   95.0

Check where data is missing:
    Name    Age   City  Score
0  False  False  False  False
1  False   True  False  False
2  False  False   True   True
3  False  False  False  False
4  False   True  False  False

Count of missing values in each column:
Name     0
Age      2
City     1
Score    1
dtype: int64

In [66]:
# 2. Drop rows with any missing value
c = b.dropna()
print("\nAfter dropping rows with missing values:")
print(c)

After dropping rows with missing values:
    Name   Age       City  Score
0  Alice  25.0      Delhi   85.0
3  David  40.0  Bangalore   88.0

In [67]:
# 3. Fill missing values
# Fill numeric columns with mean, text columns with a placeholder
d = b.copy()
d["Age"] = d["Age"].fillna(d["Age"].mean())
d["City"] = d["City"].fillna("Unknown")
d["Score"] = d["Score"].fillna(0)
print("\nAfter filling missing values:")
print(d)

After filling missing values:
      Name        Age       City  Score
0    Alice  25.000000      Delhi   85.0
1      Bob  33.333333     Mumbai   91.0
2  Charlie  35.000000    Unknown    0.0
3    David  40.000000  Bangalore   88.0
4     Emma  33.333333    Chennai   95.0

## Changing Data Types (`astype`)
- Convert a column to a different type using `astype()`.
- Examples: converting strings to numbers, integers to floats, or columns to category.

Be careful: make sure the data is compatible with the new type!

In [68]:
import pandas as pd

# Same dataset
a = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Emma"],
    "Age": [25, 30, 35, 40, 22],
    "Score": [88, 92, 79, 85, 95]
}

x = pd.DataFrame(a)
b = x.copy()
print("Original DataFrame:")
print(b)

# 1. Convert "Age" column from int to float
b["Age"] = b["Age"].astype(float)
print("\nAge column converted to float:")
print(b.dtypes)

Original DataFrame:
      Name  Age  Score
0    Alice   25     88
1      Bob   30     92
2  Charlie   35     79
3    David   40     85
4     Emma   22     95

Age column converted to float:
Name      object
Age      float64
Score      int64
dtype: object

In [69]:
# 2. Convert "Name" column to category type (memory-efficient)
b["Name"] = b["Name"].astype("category")
print("\nName column converted to category:")
print(b.dtypes)

Name column converted to category:
Name     category
Age       float64
Score       int64
dtype: object

In [70]:
# 3. Convert "Score" column to string
b["Score"] = b["Score"].astype(str)
print("\nScore column converted to string:")
print(b.dtypes)

Score column converted to string:
Name     category
Age       float64
Score      object
dtype: object

## Replacing Values (`replace`)
- Use `replace()` to substitute specific values or patterns.
- Useful for cleaning labels, fixing typos, or mapping categories.

In [71]:
# 1. Replace a single value in a column
c = x.copy()
c["Name"] = c["Name"].replace("Bob", "Robert")
print("\nAfter replacing 'Bob' with 'Robert':")
print(c)

After replacing 'Bob' with 'Robert':
      Name  Age  Score
0    Alice   25     88
1   Robert   30     92
2  Charlie   35     79
3    David   40     85
4     Emma   22     95

In [72]:
# 2. Replace multiple values at once
d = x.copy()
d["Score"] = d["Score"].replace({88: 90, 95: 99})
print("\nAfter replacing 88 -> 90 and 95 -> 99 in Score:")
print(d)

After replacing 88 -> 90 and 95 -> 99 in Score:
      Name  Age  Score
0    Alice   25     90
1      Bob   30     92
2  Charlie   35     79
3    David   40     85
4     Emma   22     99

In [73]:
# 3. Replace using a pattern in strings (e.g., shorten names)
e = x.copy()
e["Name"] = e["Name"].replace({"Charlie": "Ch"}, regex=False)
print("\nAfter shortening 'Charlie' to 'Ch':")
print(e)

After shortening 'Charlie' to 'Ch':
    Name  Age  Score
0  Alice   25     88
1    Bob   30     92
2     Ch   35     79
3  David   40     85
4   Emma   22     95

## Dropping Rows & Columns (`drop`)
- `drop(labels, axis=0)` â†’ drop rows by index labels.
- `drop(labels, axis=1)` â†’ drop columns by name.
- Use `inplace=True` if you want to modify the DataFrame directly.

In [74]:
# 1. Drop a single row by index label
print(b)
c = b.drop(2)   # drops row with index 2 (Charlie)
print("\nAfter dropping row with index 2:")
print(c)

      Name   Age Score
0    Alice  25.0    88
1      Bob  30.0    92
2  Charlie  35.0    79
3    David  40.0    85
4     Emma  22.0    95

After dropping row with index 2:
    Name   Age Score
0  Alice  25.0    88
1    Bob  30.0    92
3  David  40.0    85
4   Emma  22.0    95

In [75]:
# 2. Drop multiple rows
d = b.drop([0, 4])   # drops Alice and Emma
print("\nAfter dropping rows 0 and 4:")
print(d)

After dropping rows 0 and 4:
      Name   Age Score
1      Bob  30.0    92
2  Charlie  35.0    79
3    David  40.0    85

In [76]:
# 3. Drop a single column
e = b.drop("Score", axis=1)   # by default 'axis = 0' that means for rows
print("\nAfter dropping the 'Score' column:")
print(e)

After dropping the 'Score' column:
      Name   Age
0    Alice  25.0
1      Bob  30.0
2  Charlie  35.0
3    David  40.0
4     Emma  22.0

In [77]:
# 4. Drop multiple columns
f = b.drop(["Age", "Score"], axis=1)
print("\nAfter dropping 'Age' and 'Score' columns:")
print(f)

After dropping 'Age' and 'Score' columns:
      Name
0    Alice
1      Bob
2  Charlie
3    David
4     Emma

In [78]:
# 5. Using inplace=True to modify the DataFrame directly
g = b.copy()
g.drop("Score", axis=1, inplace=True)
print("\nAfter dropping 'Score' with inplace=True:")
print(g)

After dropping 'Score' with inplace=True:
      Name   Age
0    Alice  25.0
1      Bob  30.0
2  Charlie  35.0
3    David  40.0
4     Emma  22.0

## Detecting & Removing Duplicates
- `duplicated()` â†’ returns a Boolean Series marking duplicate rows.
- `drop_duplicates()` â†’ remove duplicate rows.
- You can specify `subset` (columns) and `keep` ('first', 'last', or False).

In [79]:
# Create a custom dataset with some duplicate rows
data = {
    "Name": ["Alice", "Bob", "Charlie", "Alice", "Bob", "David"],
    "Age": [25, 30, 35, 25, 30, 40],
    "Score": [88, 92, 79, 88, 92, 85]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# 1. Detect duplicates
print("\nBoolean Series showing duplicates:")
print(df.duplicated())

Original DataFrame:
      Name  Age  Score
0    Alice   25     88
1      Bob   30     92
2  Charlie   35     79
3    Alice   25     88
4      Bob   30     92
5    David   40     85

Boolean Series showing duplicates:
0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

In [80]:
# 2. Count total duplicates
print("\nTotal number of duplicate rows:")
print(df.duplicated().sum())

Total number of duplicate rows:
2

In [81]:
# 3. Remove duplicates (keep first occurrence)
df_first = df.drop_duplicates(keep='first')   # keep='first' is by default
print("\nAfter dropping duplicates (keep='first'):")
print(df_first)

After dropping duplicates (keep='first'):
      Name  Age  Score
0    Alice   25     88
1      Bob   30     92
2  Charlie   35     79
5    David   40     85

In [82]:
# 4. Remove duplicates (keep last occurrence)
df_last = df.drop_duplicates(keep="last")
print("\nAfter dropping duplicates (keep='last'):")
print(df_last)

After dropping duplicates (keep='last'):
      Name  Age  Score
2  Charlie   35     79
3    Alice   25     88
4      Bob   30     92
5    David   40     85

In [83]:
# 5. Remove all duplicates (keep=False)
df_none = df.drop_duplicates(keep=False)
print("\nAfter removing all duplicates (keep=False):")
print(df_none)

After removing all duplicates (keep=False):
      Name  Age  Score
2  Charlie   35     79
5    David   40     85

In [84]:
# 6. Remove duplicates based on a subset of columns (e.g., Name only)
df_subset = df.drop_duplicates(subset=["Name"])
print("\nAfter dropping duplicates based on 'Name' only:")
print(df_subset)

After dropping duplicates based on 'Name' only:
      Name  Age  Score
0    Alice   25     88
1      Bob   30     92
2  Charlie   35     79
5    David   40     85

## Mini Practice
1. Create a messy DataFrame with missing values, wrong data types, typos, extra columns, and duplicates.
2. Clean it step-by-step using what you learned:
   - Handle missing values
   - Change data types
   - Replace incorrect values
   - Drop unnecessary rows/columns
   - Remove duplicates

In [85]:
import pandas as pd
import numpy as np

# 1. Create a messy DataFrame
data = {
    "Name": ["Alice", "Bob", "Chrlie", "David", "Alice", None],
    "Age": ["25", "30", None, "40", "25", "30"],      # ages stored as strings, with missing value
    "City": ["Delhi", "Mumbai", "Pun", "Bangalore", "Delhi", "Mumbai"],  # typo: "Pun" -> "Pune"
    "Score": [85, None, 78, 88, 85, 91],              # missing value in Score
    "Extra": ["x", "y", "z", "x", "y", "z"]           # extra column we don't really need
}

df = pd.DataFrame(data)

print("Original messy DataFrame:")
print(df)

# 2. Handle missing values
# Fill or drop as needed
df2 = df.copy()
df2['Age'] = pd.to_numeric(df['Age'], errors = 'coerce')
df2['Age'] = df2['Age'].fillna(df2['Age'].mean())
df2['Score'] = df2['Score'].fillna(df2['Score'].mean())
df2['Name'] = df2['Name'].fillna("Unknown")


print("\nAfter handling missing data:")
print(df2)

Original messy DataFrame:
     Name   Age       City  Score Extra
0   Alice    25      Delhi   85.0     x
1     Bob    30     Mumbai    NaN     y
2  Chrlie  None        Pun   78.0     z
3   David    40  Bangalore   88.0     x
4   Alice    25      Delhi   85.0     y
5    None    30     Mumbai   91.0     z

After handling missing data:
      Name   Age       City  Score Extra
0    Alice  25.0      Delhi   85.0     x
1      Bob  30.0     Mumbai   85.4     y
2   Chrlie  30.0        Pun   78.0     z
3    David  40.0  Bangalore   88.0     x
4    Alice  25.0      Delhi   85.0     y
5  Unknown  30.0     Mumbai   91.0     z

In [86]:
# 3. Change data types
# Convert Age to int, Score to float, etc.
df2["Age"]=df2["Age"].astype(int)
df2.dtypes

Name      object
Age        int64
City      object
Score    float64
Extra     object
dtype: object

In [87]:
# 4. Replace incorrect values
# Fix 'Pun' -> 'Pune', maybe unify Name spellings if needed
df2["City"] = df2["City"].replace("Pun", "Pune")
df2

      Name  Age       City  Score Extra
0    Alice   25      Delhi   85.0     x
1      Bob   30     Mumbai   85.4     y
2   Chrlie   30       Pune   78.0     z
3    David   40  Bangalore   88.0     x
4    Alice   25      Delhi   85.0     y
5  Unknown   30     Mumbai   91.0     z

In [88]:
# 5. Drop unnecessary rows/columns
# Remove 'Extra' or any row you don't want
df2 = df2.drop('Extra', axis =1)
df2

      Name  Age       City  Score
0    Alice   25      Delhi   85.0
1      Bob   30     Mumbai   85.4
2   Chrlie   30       Pune   78.0
3    David   40  Bangalore   88.0
4    Alice   25      Delhi   85.0
5  Unknown   30     Mumbai   91.0

In [94]:
# 6. Remove duplicates
# Use duplicated() and drop_duplicates()
df2 = df2.drop_duplicates(keep=False)
df2

      Name  Age       City  Score
0    Alice   25      Delhi   85.0
1      Bob   30     Mumbai   85.4
2   Chrlie   30       Pune   78.0
3    David   40  Bangalore   88.0
5  Unknown   30     Mumbai   91.0

In [97]:
# 7. Final clean DataFrame
# Print the cleaned DataFrame and check info()
df2.info()
print("\nFinal DataFrame")
print(df2)

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   City    5 non-null      object
 3   Score   5 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 200.0+ bytes

Final DataFrame
      Name  Age       City  Score
0    Alice   25      Delhi   85.0
1      Bob   30     Mumbai   85.4
2   Chrlie   30       Pune   78.0
3    David   40  Bangalore   88.0
5  Unknown   30     Mumbai   91.0

---
## Summary
- Learned to handle missing values (`isna`, `dropna`, `fillna`).
- Converted column data types with `astype`.
- Cleaned up incorrect entries with `replace`.
- Removed unwanted rows/columns with `drop`.
- Detected and removed duplicates.