# üêº Pandas - Class 9: Advanced Tricks & Performance
Welcome to **Class 9** of our Pandas series. Today we‚Äôll explore advanced techniques to write efficient, clean, and optimized Pandas code.

## 1. Applying Custom Functions with `apply()` / `map()`
- `apply()` lets you apply a custom function across rows or columns.
- `map()` is for applying functions element-wise to a Series.
- Both are handy for transformations, calculations, and cleaning data.

In [1]:
import pandas as pd
import numpy as np
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Emma"],
    "Math": [88, 75, 92, 60, 85],
    "Science": [90, 80, 78, 70, 95]
}

df = pd.DataFrame(data)

In [2]:
# Row-wise: total marks for each student
df["Total"] = df[["Math", "Science"]].apply(lambda row: row.sum(), axis=1)
print("\nTotal marks using apply(axis=1):")
df

Total marks using apply(axis=1):

      Name  Math  Science  Total
0    Alice    88       90    178
1      Bob    75       80    155
2  Charlie    92       78    170
3    David    60       70    130
4     Emma    85       95    180

In [3]:
# Column-wise: mean of each column
col_mean = df[["Math", "Science"]].apply(lambda col: col.mean())
print("\nColumn means using apply(axis=0):")
col_mean

Column means using apply(axis=0):

Math       80.0
Science    82.6
dtype: float64

In [4]:
# Convert numeric marks to grades
def to_grade(score):
    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    elif score >= 70:
        return "C"
    else:
        return "D"

df["MathGrade"] = df["Math"].apply(to_grade)
print("\nGrades for Math using apply():")
df[["Name", "Math", "MathGrade"]]

Grades for Math using apply():

      Name  Math MathGrade
0    Alice    88         B
1      Bob    75         C
2  Charlie    92         A
3    David    60         D
4     Emma    85         B

In [5]:
# Lowercase student names
df["NameLower"] = df["Name"].map(str.lower)
print("\nLowercase names using map():")
df[["Name", "NameLower"]]

Lowercase names using map():

      Name NameLower
0    Alice     alice
1      Bob       bob
2  Charlie   charlie
3    David     david
4     Emma      emma

In [6]:
# Add bonus marks to Math using map()
df["MathBonus"] = df["Math"].map(lambda x: x + 5)
print("\nMath marks with +5 bonus using map():")
df[["Name", "Math", "MathBonus"]]

Math marks with +5 bonus using map():

      Name  Math  MathBonus
0    Alice    88         93
1      Bob    75         80
2  Charlie    92         97
3    David    60         65
4     Emma    85         90